
*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;
    background-image:url(images/chuck\ norris.jpeg);
    background-size: cover;
    
}

.todo{

}

